

<title> B4iGo - User Sign Up</title>
<h1>Signup!</h1>
<%= form_tag '/users', method: :post do  %>
  <div>
    First Name: <input type="text" name="firstname" >
  </div>
  <div>
    Last Name: <input type="text" name="lastname">
  </div>
  <div>
    Email: <input type="email" name="email">
  </div>
  <div>
    Password: <input type="password" name="password">
  </div>
  <input type="submit" value="Submit">
<% end %>
