

<h2>User Show Page</h2>
<h3>There will be API calls being made from this page probably later </h3>

<% if current_user %> 
  <h2> Hello, <%= @user.firstname %> </h2>
  <li><a href="/logout">Logout! </a></li> 
  <p>
  <%= form_tag "/addresses/new", method: :get do %>
    <input type="submit" value="New Address(s) Entry">
  <% end %> 
  <%= form_tag "/users/#{@user.id}/edit", method: :get do %>
    <input type="submit" value="Edit Profile & Preferences">
  <% end %> 
<% end %> 
