<title> B4iGo - User Show</title>

<h1>User Show Page</h1>
<h2> Hello, <%= @user.firstname.capitalize %> </h2>
<h3>There will be API calls being made from this page probably later </h3>

<div ng-app="app" ng-controller="usersctrl" ng-init="initMap" id='angularInit'>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZx7TZuSm5GFaWsEVQZ2BqVvkEO5r2vY8&callback=initMap">
</script>

[ Weather Details ]


<div id="right-panel"></div>
<div id="map"></div>

<div id="floating-panel">
  <b>Start: </b>
  <select id="start">
    <option value="155 Montgomery Street San Francisco CA">Work - SF</option>
    <option value="77 Geary St., San Francisco, CA">TechSpace SF</option>
    <option value="San Jose, cak">San Jose</option>
    <option value="Brentwood, ca">Brentwood</option>
    <option value="New York, ny">New York</option>
    <option value="los angeles, ca">Los Angeles</option>
  </select>
  <b>End: </b>
  <select id="end">
    <option value="155 Montgomery Street San Francisco CA">Work - SF</option>
    <option value="77 Geary St., San Francisco, CA">TechSpace SF</option>
    <option value="San Jose, cak">San Jose</option>
    <option value="Brentwood, ca">Brentwood</option>
    <option value="New York, ny">New York</option>
    <option value="los angeles, ca">Los Angeles</option>
  </select>
</div>

<li><a href="/logout">Logout! </a></li> 
<p>

<%= form_tag "/users/#{@user.id}/edit", method: :get do %>
  <input type="submit" value="Edit Profile & Preferences">
<% end %> 

</div>