<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZx7TZuSm5GFaWsEVQZ2BqVvkEO5r2vY8&callback=initMap"> 
    </script>

<div ng-app="app" ng-controller="usersctrl" ng-init="setup(<%= @user.id %>)" id='mapRenderInit'>
    <div id="map"></div>
    <div id="floating-panel" >
      <b>Start: </b>
      <select id="start" >
        <option ng-repeat="address in user.addresses" value="{{ address.location }}">{{ address.label }}</option>
      </select>
      <b>End: </b>
      <select id="end" >
        <option ng-repeat="address in user.addresses" value="{{ address.location }}" ng-selected="{{ address == user.addresses[1] }}">{{ address.label }}</option>
      </select>
      <div ng-init="finishedEvent()"></div>
    </div>

    <div id='currentWeather'> 
      <table>
      <tr>
       {{date | date:'EEEE, MMMM dd'}}
       <br>
       {{ currentName }},
       {{ currentRegion }}
       <br>
       Currently: {{ currentDegreeF }} Degrees
       <br>
       {{ currentDescription }} 
     <br>
      </table>
       <img ng-src='{{ currentIcon }}'>
       <br>
       Total Distance: {{ distance }}
       <br>
       Time to Destination: {{ duration }}
    </div>

    <div id='test'>
      <li><a href="/logout">Logout! </a></li> 
      <%= form_tag "/users/#{@user.id}/edit", method: :get do %>
      <input type="submit" value="Edit Profile & Preferences">
      <% end %> 
    </div>   


  <div>
    <table id="hourly">
      <thead>
        <tr>
          <th>Time</th>
            <div>
              <td ng-repeat="hour in forecastdata.hour">
              {{ hour.time_epoch * 1000 | date:'h:mm a' }}
              </td>
            </div> 
        </tr>
      </thead>
        <tbody>
          <tr>
            <th>Forecast</th>
            <td ng-repeat="hour in forecastdata.hour">
                <span> {{ hour.condition.text }} </span>
            </td>
          </tr>
          <tr>
            <th>Temp (°F)</th>
              <td ng-repeat="hour in forecastdata.hour">
                  <span> {{ hour.temp_f }}</span >
              </td>
          </tr>
          <tr>
            <th>Condition</th>
            <td ng-repeat="hour in forecastdata.hour">
              <img ng-src='{{ hour.condition.icon }}'> </img>
            </td>
          </tr>
        </tbody>
    </table>
  </div>  


</div><!--  ng app end -->

