<div ng-app="app" ng-controller="usersctrl" ng-init="setup(<%= @user.id %>)" id='mapRenderInit' data-animate="fadeInScale fadeInUp">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZx7TZuSm5GFaWsEVQZ2BqVvkEO5r2vY8&callback=initMap"> 
    </script>
    <div id='currentWeather'> 
      <table bgcolor="#00FF00">
        <tr>
          <td>
           {{date | date:'EEEE, MMMM dd'}}
          </td>
          <td>
            <img ng-src='{{ currentIcon }}'>
          </td>
        </tr>
        <tr>
          <td> {{ currentName }}, {{ currentRegion }} </td>
          <td> {{ currentDescription }} : {{ currentDegreeF }} Degrees </td>
        </tr>
        <tr>
          <td> Total Distance: {{ distance }} </td>
          <td> Driving Time: {{ duration }} </td>
        </tr>
      </table>
    </div>
  <div id=table>
    <table id="hourly" class="table-hover" bgcolor="#00FF00">
      <thead>
        <tr>
          <th>Time</th>
            <div>
              <td ng-repeat="hour in forecastdata.hour">
              {{ hour.time_epoch * 1000 | date:'h:mm a' }}
              </td>
            </div> 
        </tr>
      </thead>
        <tbody>
          <tr>
            <th>Forecast</th>
              <td ng-repeat="hour in forecastdata.hour">
                <span> {{ hour.condition.text }} </span>
              </td>
          </tr>
          <tr>
            <th>Temp (°F)</th>
              <td ng-repeat="hour in forecastdata.hour">
                  <span> {{ hour.temp_f }}</span >
              </td>
          </tr>
          <tr>
            <th>Condition</th>
              <td ng-repeat="hour in forecastdata.hour">
                <img ng-src='{{ hour.condition.icon }}'>
            </td>
          </tr>
        </tbody>
    </table>
  </div>

    <div id="floating-panel" >
      <b>Start: </b>
      <select id="start" >
        <option ng-repeat="address in user.addresses" value="{{ address.location }}">{{ address.label }}</option>
      </select>
      <b>End: </b>
      <select id="end" >
        <option ng-repeat="address in user.addresses" value="{{ address.location }}" ng-selected="{{ address == user.addresses[1] }}">{{ address.label }}</option>
      </select>
      <div ng-init="finishedEvent()"></div>
    </div>

        <div id="map"></div> 
<!-- 

</div>    
  <footer class="footer">
    <div class="container">
      <div class="bottom">
        <ul>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Language</a></li>
        </ul>
      </div>
    </div>
  </footer> -->
</div><!--  ng app end -->

