<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>B4iGo - Index web app</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <script type="text/javascript">
    $(function () {
      if (!window.utils.isMobile()) {
        // parallax header
        $(window).scroll(function() {
          var scroll = $(window).scrollTop(), 
          slowScroll = scroll/4,
          slowBg = slowScroll;

          $('.index-app-hero').css("background-position", "center " + -slowBg + "px");
        });
      }
    });
  </script>

  <div class="index-app-hero">
    <div class="container">
      <h2 class="customFadeInUp">
        Start your day prepared,
        <br> Make better decisions
      </h2>
      <p class="customFadeInUp">
        Don't wait till you're on the road,  <br>
        what are you waiting for?
      </p>
      
      <a href="/users/new" class="btn-pill btn-pill-success btn-pill-lg customFadeInUp">Sign Up Free</a>
    </div>
  </div>

  <div class="index-features-files index-app clearfix">
    <div class="container2">
      <div class="container1">
        <div class="col col-left">

          <div class="features">
            <div class="feature clearfix">
              <div class="image">
                <img src="/images/icons/features-icon-upload.png" />
              </div>
              <div class="info">
                <strong>
                  Jumpstart your workflow today
                </strong>
                <p>
                  Get details on the weather and commute before you're already out the door
                </p>
              </div>
            </div>
            <div class="feature clearfix">
              <div class="image">
                <img src="/images/icons/features-icon-earth.png" />
              </div>
              <div class="info">
                <strong>
                  Your information securely saved on the cloud
                </strong>
                <p>
                  Access to your weather and commute from anywhere in the world.
                </p>
              </div>
            </div>
            <div class="feature clearfix">
              <div class="image">
                <img src="/images/icons/features-icon-repeat.png" />
              </div>
              <div class="info">
                <strong>
                  Easy to use
                </strong>
                <p>
                  Just provide the address to your work or usual destinations, we'll do the rest
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="col col-right">
          <div class="info">
            <h3>Make us your home page</h3>
            <h4>
              Easy and simple dashboard that let you gain more control of your time
            </h4>
            <p>
              B4iGo is a web app to make your weather and commute details very accessible. It offers you the ability to find weather and commute information on your daily destination with just one click. Don't wait till you are on the road before your GPS navigation finally reveals to you of the imminent traffic chaos. It works in all browsers and there will be many more features to come in the future.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="index-app-devices" id="index_spacer">
    <div class="container">
      <img src="/images/devices/devices-4.png" class="img-fluid d-block mx-auto">

      <div class="cta">
        <h3>
          Start minimizing risks and gain back valueble time
        </h3>
        <p>
          Free to use: just sign up and provide us destinations!
        </p>
        <a href="/users/new">
          Create an account
        </a>
      </div>
    </div>
  </div>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    // e.src='//www.google-analytics.com/analytics.js';
    // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    // ga('create','UA-XXXXX-X','auto');ga('send','pageview');
  </script>
</body>
</html>

