<title> B4iGo </title>
<h1>Landing Page</h1>
<h2>You're seeing this because you're not logged in!</h2>
<p>This page will what this web app is all about</p>

<div>
      <li><a href="/users/new">Sign up!</a></li> 
      <li><a href="/login">Login! </a></li> 
</div>

<div ng-app="app" ng-init="setup()">
  {{ $scope.map }}
  {{ 1 + 1 }}
</div>


