<h2>Landing Page, you're seeing this because you're not logged in!</h2>
<h2>This page will what this web app is all about</h2>

<div>
      <li><a href="/users/new">Sign up!</a></li> 
      <li><a href="/login">Login! </a></li> 
</div>
