// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 60%;
  width:50%;
  float: left;
  position: relative;
}

#test {
  clear: both;
  // overflow: auto;
}
.adp-placemark {
  margin-top:0 !important;
}

html, body, #angularInit {
  height: 100%;
  width: 100%
}
/* Optional: Makes the sample page fill the window. */
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  right: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 24px;
  height: 50%;
  float: right;
  width: 50%;
  // overflow: auto;
}

// Google Logo / Copyright remove - start
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.adp-legal {
  display:none !important
}
// Google Logo / Copyright remove - end
