// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
// body {
// background-image: url("https://source.unsplash.com/random/1600x900/");
// background-size: cover;
// background-position: center;
// background-repeat: no-repeat;
// background-attachment: fixed;
// -webkit-background-size: cover;
// -o-background-size: cover;
// -moz-background-size: cover;
// }

#map {
  height: 30%;
  width: 30%;
  float: left;
  position: relative;
  overflow: hidden;
}

#mapRenderInit {
  height: 100%;
  width: 100%;
}

// .adp-placemark {
//   margin-top:0 !important;
// }

html, body, #mapRenderInit {
  height: 100%;
  width: 100%
}
/* Optional: Makes the sample page fill the window. */
#floating-panel {
  position: relative;
  float: center;
  // margin: 0 auto;
  // top: 10px;
  // left: 25%;
  // right: 25%;
  // z-index: 5;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

// #right-panel {
//   font-family: 'Roboto','sans-serif';
//   line-height: 24px;
//   height: 30%;
//   float: right;
//   width: 50%;
//   // overflow: auto;
// }

#currentWeather {
    position: relative;
    float: right;
    // top: 20%;
    // bottom: 0;
    width: 100%;
      overflow: hidden;
}

#hourly {
  bottom: 0;
  position: relative;
  float: center;
  border-style: solid;
  text-align: center;
}

table, th, td{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

// Google Logo / Copyright remove - start
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.adp-legal {
  display:none !important
}
// Google Logo / Copyright remove - end
